<h1>Atomic Design Library</h1>
<div>
  <h2>Atoms:</h2>
  {{> 01-atoms/01-paragraph/paragraph }}
  <br><br>
  {{> 01-atoms/02-button/button }}
  <br><br>
  {{> 01-atoms/03-image/image }}
  <br><br>

  <h2>Molecules:</h2>
  {{> 02-molecules/01-text-with-button/text-with-button }}
  <br><br>
</div>