<div class="organism-card">
  <div class="organism-card-area-1">
    {{> ../../01-atoms/03-image/image }}
  </div>
  <div class="organism-card-area-2">
    {{> ../../01-atoms/03-image/image }}
  </div>
  <div class="organism-card-area-3">
    {{> ../../01-atoms/03-image/image }}
  </div>
  <div class="organism-card-area-4">
    {{> ../../01-atoms/03-image/image }}
  </div>
  <div class="organism-card-area-5">
    {{> ../../01-atoms/01-paragraph/paragraph }}
  </div>
</div>