<div class="organism-grid">
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
  {{> ../../01-atoms/03-image/image }}
</div>